[submodule "server/modules/bot-shield"]
	path = server/modules/bot-shield
	url = https://git.is.horse/revolt/research-development/bot-shield-module.git
	update = none
[submodule "server/modules/global-helper-bot"]
	path = server/modules/global-helper-bot
	url = https://github.com/stoatchat/service-admin-panel-global-helper-bot.git
[submodule "server/modules/discover-rankings"]
	path = server/modules/discover-rankings
	url = https://github.com/stoatchat/service-admin-panel-discover-rankings.git
[submodule "app/panel/hr"]
	path = app/panel/hr
	url = https://github.com/stoatchat/service-admin-panel-hr.git
[submodule "app/panel/mod"]
	path = app/panel/mod
	url = https://github.com/stoatchat/service-admin-panel-moderation.git
