{
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@radix-ui",
    "^\\.\\.",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
